<head>
<link rel="stylesheet" type="text/css" href="/static/imageedit.css">
</head>


<div class="sidebar"> {% include 'tags.html' %} </div>
<div class="header">
{% include 'headerbar.html' %}
</div>

<div class="content">

<div class = "fotoinfo">
<div class = "fotoedit">
{% with svg_data = image_data.get('svg_data')%}
	{% include 'image.html' %} 
{% endwith %}
</div>

<div class = "imageinfoedit">
{% with name = image_data.get('name'), owner = image_data.get('owner')%}
	{% include 'imageinfo.html' %} 
{% endwith %}

</div>

</div>

<div class = "tagsinfoedit">
{% with description = image_data.get('description'), tags = image_data.get('tags')%}
	{% include 'tagsdescription.html' %} 
{% endwith %}
</div>

</div>
