<head>
<link rel="stylesheet" type="text/css" href="/static/imageinfo.css">
</head>

<div class="itemContainer">
	<div class = "imageName">
		<h1>Image Name</h1>
	</div>
	<div class = "owner">
		<h2>Owner</h2>
	</div>

	<div class = "dropdown-menu">
		<select>
  			<option value="volvo">Size1</option>
 			<option value="saab">Size2</option>
  			<option value="mercedes">Size3</option>
  			<option value="audi">Size4</option>
		</select>
	</div>
	
	<div class = "or">
		<h3>or</h3>
	</div>
	
	<div class = "dimensions-enter">
		<input type="text" placeholder="width" required> x <input type="text" placeholder="height" required>
		<input type="button" value="Download">
	</div>
	
</div>