<head>
<link rel="stylesheet" type="text/css" href="/static/imageinfo.css">
</head>

<div class="itemContainer">
	<div class = "imageName">
		<h1>Image Name</h1>
	</div>
	<div class = "owner">
		<h2>Owner</h2>
	</div>

	<div class = "dropdown-menu" align = "center" >
		<select>
  			<option value="dimension1">Size1</option>
 			<option value="dimension2">Size2</option>
  			<option value="dimension3">Size3</option>
  			<option value="dimension4">Size4</option>
		</select>
	</div>
	
	<div class = "or" align = center>
		<h3>or</h3>
	</div>
	
	<div class = "dimensions-enter" align = center height=200px width = 200 px>
		<input type="text" placeholder="width" required>  x  <input type="text" placeholder="height" required>
		<br><br><button id = "my-button">Download</button>
	</div>
	
</div>