<head>
<link rel="stylesheet" type="text/css" href="static/viewgrid.css">
</head>

<div class="entirepage">

<div class="headerbarviewgrid">
{% include 'headerbar.html' %}
</div>

    <div class="tagsviewgrid">
    {% include 'tags.html' %}
    </div>

<div class="appcontent">

    <div class="gridviewgrid">
    {% include 'grid.html' %}
    </div>

</div>

    <div class="push"></div>

</div>


<!-- <head>
<link rel="stylesheet" type="text/css" href="static/viewgrid.css">
</head>

<div class="entirepage">

<div class="headerbarviewgrid">
{% include 'headerbar.html' %}
</div>

<div class="appcontent">

    <div class="tagsviewgrid">
    {% include 'tags.html' %}
    </div>
    
    <div class="gridviewgrid">
    {% include 'grid.html' %}
    </div>

</div>

    <div class="push"></div>

</div> -->