div{
    font-family: helvetica;
}
body {
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.headerBar {
	
	border-bottom: 1px solid;
	border-color: #d3d3d3;
	width: 100%
	padding-top: 5px;
    padding-bottom: 10px;
    height: 25px;


}


#searchContainer{
	margin-right:auto;
	margin-left: auto;
	position: relative;
	width: 300px;

}

.search{

	
}

.uploadButton{
	
	float: right;
	

}


