body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.itemContainer{

 width: 300px;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-right: 10px;
 padding-left: 10px;
 
 border-style: 1px solid;

}

.imageName{

 margin-right: 

}



.owner{


}

.dropdown-menu{


}



.or{



}



.dimensions-enter{



}

#my-button{

	height: 20px;
	display: block;
	border:0;
}