body{
	font-family: helvetica;
}

div{
	padding: .1em;
  background-color: rgba(166, 166, 166, 0.2);
	height: 100%;
	max-width: 15%;
  min-width: 140px;

}
h1{
	text-align: center;
	font-weight: lighter;
}

ul li{
	list-style: none;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

ul li a{
	background-color: b01c21;
	border-radius: 1em;
	color: white;
	text-decoration: none;
	text-transform: lowercase;
	padding: .8em;
}


