body{
	font-family: helvetica;
}

.alltags{
	padding: 10px;
  background-color: rgba(166, 166, 166, 0.2);
	height: 100%;
	width: 250px;
}
.alltags h1{
	text-align: center;
	font-weight: lighter;
		padding-bottom: 10px;

}

ul.tagsbuttons{
	padding-left: 0px;
}

ul.tagsbuttons li{
	list-style: none;
	padding-top: 15px;
	padding-bottom: 15px;

	
	
	/*! max-width: 40px; */ /*
  min-width: 160px;*/
} 

ul.tagsbuttons li a{
	text-align: center;
	background-color: b01c21;
	border-radius: 1em;
	color: white;
	text-decoration: none;
	text-transform: lowercase;
	padding: .8em;
	/*! width: 40px; */
	
	overflow:hidden;
	display:block;
 
}


